<h1>Dynamic Form With Directive</h1>
<form [formGroup]="dynamicForm" class="mt-5">
  <h2 class="text-center">Register Form</h2>
  <!-- Loop through the configs -->
  <ng-container *ngFor="let control of configs">
    <div *ngIf="control.heading; else noHeading">
      <h1>{{ control.heading }}</h1>
      <ng-container *ngFor="let innerConfig of control.configs">
        <ng-container DynamicFormComponent [config]="innerConfig" [group]="dynamicForm.controls[control.control]"></ng-container>
      </ng-container>
    </div>
    <ng-template #noHeading>
      <ng-container *ngFor="let innerConfig of control.configs">
        <ng-container DynamicFormComponent [config]="innerConfig" [group]="dynamicForm.controls[control.control]"></ng-container>
      </ng-container>
    </ng-template>
  </ng-container>

  <div class="flex justify-content-center mb-2 gap-3">
    <p-button label="Submit" (click)="submit()" />
  </div>
</form>
