<h1>Dynamic Form With Directive</h1>
<form [formGroup]="dynamicForm" class="mt-5">
  <h2 class="text-center">Register Form</h2>

  @for(config of configs; track $index){
  <!-- Without Group Control -->
  <!-- @else { -->
  <ng-container
    DynamicFormComponent
    [config]="config"
    [group]="dynamicForm"
  ></ng-container>
  } 

  <div class="flex justify-content-center mb-2 gap-3">
    <p-button
      styleClass="p-button-raised p-button-text p-button-info"
      (click)="submit()"
      >Submit</p-button
    >
  </div>
</form>
