<h1>Dynamic Form With Directive</h1>
<form [formGroup]="dynamicForm" class="mt-5">
  <h2 class="text-center">Register Form</h2>
  <ng-container *ngFor="let config of configs">
    <div *ngIf="config.heading" class="card">
      <h1>{{ config.heading }}</h1>
      <ng-container
        DynamicFormComponent
        *ngFor="let innerConfig of config.configs"
        [config]="innerConfig"
        [group]="dynamicForm.controls[config.control]"
      >
      </ng-container>
    </div>
    <div *ngIf="!config.heading" class="card">
      <ng-container
        DynamicFormComponent
        [config]="config"
        [group]="dynamicForm"
      ></ng-container>
    </div>
  </ng-container>

  <div class="flex justify-content-center mb-2 gap-3">
    <p-button
      styleClass="p-button-raised p-button-text p-button-info"
      (click)="submit()"
      >Submit</p-button
    >
  </div>
</form>
